<div class="dashboard-header">
  <h1 class="dashboard-title">Overview</h1>
  <div class="search-entry">
    <Input
      class="db search-bar"
      placeholder="Search an Artist"
      @id='artist-id'
      @type='text'
      @value={{ newArtist_id }}
    />

      <LinkTo
      @route="dashboard"
      @model={{ newArtist_id }}
      role="button"
      class="search-button search-link">
        <i class="fas fa-search fa-lg"></i>
      </LinkTo>
  </div>
</div>