<div class="card followers">
  <div class="follower-body card-body">
    <i class="fab fa-{{@platform}} fa-3x"></i>
    <h5 class="follower-count card-title active-{{@followerCount}}">{{@followerCount}}</h5>

    {{#if (eq @platform "youtube")}}
    <p class="card-text">subscribers</p>
    {{else}}
    <p class="card-text">followers</p>
    {{/if}}
  </div>
</div>
