<div class="artist-data">
  <div class="recent-song-card card">
    <div class="recent-song-body card-body">
      <h5 class="recent-song-title card-title">Celebrity</h5>
      <p class="recent-song-text card-text">most recent song</p>
    </div>
  </div>

  <div class="most-watched-video-card card">
    <div class="most-watched-video-body card-body">
      <h5 class="most-watched-video-title card-title">Good Day</h5>
      <p class="most-watched-video-text card-text">most streamed video</p>
    </div>
  </div>
</div>
