<div class="sidebar">
  <img src="https://image.ajunews.com/content/image/2019/10/14/20191014103059156000.jpg" alt="image cap" class="sidebar image">
  <div class="body">
    <h2 class="title">{{@name}}</h2>
    <p class="sidebar-text">{{@description}}</p>
  </div>
</div>