<div class="sidebar">
  <img src="https://specials-images.forbesimg.com/imageserve/601812e67216b232862e5f3f/960x0.jpg?fit=scale" alt="image cap" class="sidebar image">
  <div class="body">
    <h2 class="title">{{@name}}</h2>
    <p class="text">Something about the artist</p>
  </div>
</div>