<main class="dashboard-container">
  <Sidebar @name={{this.model}} />

  <div class="main-content">
    <DashboardHeader />

    <div class="card-container">
      <Followers />
      <Followers />
      <Followers />
    </div>

    <MostRecentSong />
  </div>

</main>
